<VirtualHost *:8081>
   ServerAdmin webmaster@localhost
   ServerName 192.168.200.20
   ServerAlias www.example.com
   DocumentRoot /var/www/html
   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
 
